p {
    font-size:20px;
    font-family:sans-serif
}

h1 {
    font-size:100px;
    text-align:center;
    font-family:impact,sans-serif;
    text-decoration:underline;
}

span {
    text-decoration:underline;
}
body {
    background-color:gray;
}

#subtitle {
    background-color:blue;
    width:1334px;
    height:100px;
    font-size:50px;
    text-align:center;
    text-decoration:underline;
    font-family:cursive,sans-serif;
}

#header {
	font-size:100px;
    text-align:center;
    font-family:impact,sans-serif;
    text-decoration:underline;
    background-color:#404040;
    width:1334px;
}