<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="templatestyle.css">
    <title>Cookie - Login</title>
    <script language="javascript">

var users = new Array();
var passes = new Array();

function init(){
	users.push("user1");
	passes.push("pass1");
	users.push("user2");
	passes.push("cake");
	users.push("user3");
	passes.push("pie");	
}

function login(){
	
	
	for(var i = 0;i<users.length;i++){
		if(document.getElementById("user").value == users[i]){
			if(document.getElementById("pass").value == passes[i]){
				document.getElementById("result").innerHTML = "Success! You have logged in as "+users[i];
        document.getElementById("loggedInLink").innerHTML = "Click Here"; 
        document.getElementById("loginForm").innerHTML = "";
			}
		}
	}
	
	
}

</script>
  </head>
  <body onLoad="init();">
    <div id="loginDiv">
      <a href="login.html" id="loginLink">Log In</a>
    </div>
    <a  class="logo" href="index.html">
      <div class="logo">Cookie</div>
    </a>
    <div class="navBar">
      <p class="navBarText">
        <a href="index.html" class="navBarLink">Home</a> |
        <a href="project.html" class="navBarLink"></a> |
        <a href="about.html" class="navBarLink"><a/>
      </p>
    </div>
    <h1 id="pagetitle">Log In</h1>
      <form id="loginForm" class="login">
        Username <input type="text" id="user" class="login"/><br /><br />
        Password <input type="password" id="pass" class="login"/><br /><br />
        <input type="button" value="Submit" onClick="login();" /><br />
      </form>
      <p id="result" class="login"></p>
      <a href="loggedin.html" id="loggedInLink" class="login"></a>
</html>