<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="templatestyle.css">
    <title>Template 1</title>
  </head>
  <body>
    <a  class="logo" href="index.html">
      <div class="logo">Logo</div>
    </a>
    <div class="navBar">
      <p class="navBarText">
        <a href=".html" class="navBarLink">Title</a> |
        <a href=".html" class="navBarLink">Title</a> |
        <a href=".html" class="navBarLink">Title<a/>
      </p>
    </div>
      <div id="mainBody">
      <h1 id="pagetitle">Title</h1>
      <h2 class="title">Content Title</h2>
      <p class="content">Content</p>
    </div>
  </body>
</html>