<!DOCTYPE html>
<html lang="en">
    <head>
        <title>hi</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="static/style.css">
        <style>
body > header > * {
    background-color: pink;
}
        </style>
    </head>
    <body>
        <header style="display: flex; padding: 1em;">
            <h1><a href=".">griffinht.com</a></h1>

            <nav style="display: flex; gap: 1em;">
            {{#data.links}}
                <div><a href="{{link}}">{{text}}</a></div>
            {{/data.links}}
            </nav>
        </header>
        <article>
        {{{file}}}
        </article>
        <footer>
            <div id="socials">
                <a href="https://hachyderm.io/@griffinht"><img src="static/socials/mastodon.svg" alt="mastodon"></a>
                <a href="https://github.com/griffinht"><img src="static/socials/github.svg" alt="github"></a>
                <a href="https://sr.ht/~griffinht/"><img src="static/socials/sourcehut.svg" alt="sourcehut"></a>
                <a href="https://news.ycombinator.com/user?id=griffinht"><img src="static/socials/hackernews.svg" alt="hacker news"></a>
                <a href="https://www.linkedin.com/in/griffinht/"><img src="static/socials/linkedin.png" alt="linkedin"></a>
                <a href="https://x.com/griffin_ht"><img src="static/socials/x.png" alt="x (twitter)"></a>
            </div>
        </footer>
    </body>
</html>
