<html>
<head>
    {{> ../head}}
</head>
<body>
    <header>
        <h1><a href="{{root}}index.html">griffinht.com</a> > <a href="../index.html">pictures</a></h1>
    </header>
    <article>
        <h1>{{title}}</h1>
        {{#pictures}}
        <img src="{{title}}/{{src}}">
        {{/pictures}}
    </article>
</body>
</html>
