<html>
<head>
    {{> ../../head}}
    <style>
article {
    background-color: white;
    padding: 1em;
    margin: 1em auto;
    max-width: 60em;
}
img {
    width: 100%;
}

code {
    padding: 0.25em;
    background: #eee;
}

pre {
    padding: 1em;
    background: #eee;
}

pre > code {
    padding: unset;
}
    </style>
</head>
<body>
    <article>
        <h1>{{title}}</h1>
        <time datetime="{{datetime}}">{{datetime}}</time>
        {{> ../../source}}
        {{{content}}}
    </article>
</body>
</html>
