<html lang="en">
<head>
{{> head}}
</head>
<body>
    <header>
        <h1><a href="{{root}}index.html">griffinht.com</a> > {{title}}</h1>
    </header>
    {{> nav}}
    <article>
        {{{content}}}
    </article>
</body>
</html>
