<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/index.xml" rel="feed" type="application/rss+xml" title="My New Hugo Site" />
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="My New Hugo Site" />
    <!-- <link rel="canonical" href="https://griffinht.com/"> -->
    <meta property="og:url" content="http://localhost:1313/">
    <meta property="og:site_name" content="Griffin's website">
    <meta property="og:title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <!-- <meta property="og:locale" content="en_us"> -->
    <!-- <meta property="og:type" content="website"> -->
    <meta itemprop="name" content="My New Hugo Site">
    <!-- <meta itemprop="description" content="{{ description }}"> -->
    <meta itemprop="dateModified" content="{{ date }}">
    <meta name="twitter:card" content="twitter summary test">
    <meta name="twitter:title" content="twitter title test">
    <meta name="twitter:description" content="{{ description }}">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
