<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="templatestyle.css">
    <title>Cookie - About</title>
  </head>
  <body>
    <div id="loginDiv">
      <a href="login.html" id="loginLink">Log In</a>
    </div>
    <a  class="logo" href="index.html">
      <div class="logo">Cookie</div>
    </a>
    <div class="navBar">
      <p class="navBarText">
        <a href="index.html" class="navBarLink">Home</a> |
        <a href="project.html" class="navBarLink">Projects</a> |
        <a href="serverstat.html" class="navBarLink">Server Status</a> |
        <a href="about.html" class="navBarLink">About<a/>
      </p>
    </div>
    <h1 id="pagetitle">About</h1>
    <h2 class="title">Content Title</h2>
    <p class="content">Content</p>
  </body>
</html>