<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="templatestyle.css">
    <title>Cookie - Projects</title>
  </head>
  <body>
    <div id="loginDiv">
      <a href="login.html" id="loginLink">Log In</a>
    </div>
    <a  class="logo" href="index.html">
      <div class="logo">Cookie</div>
    </a>
    <div class="navBar">
      <p class="navBarText">
        <a href="index.html" class="navBarLink">Home</a> |
        <a href="project.html" class="navBarLink">Projects</a> |
        <a href="serverstat.html" class="navBarLink">Server Status</a> |
        <a href="about.html" class="navBarLink">About<a/>
      </p>
    </div>
    <h1 id="pagetitle">Projects</h1>
    <h2 class="title">Fakevirus</h2>
    <p class="content">Fakevirus is a fake virus I created. Once executed, this will split into 3 files. These files will copy themselves to the newly created directory in the Roaming folder (type into the start menu %appdata% and press enter) called fakevirus. After this, the actual virus is started. First, a series of prompts displays. After this, fakevirus shuts down your computer in about 1 minute. This can be aborted with a file in the administator version. Enjoy!</p>
  </body>
</html>