article {
    max-width: 60em;
    /*
    margin-left: auto;
    margin-right: auto;
    */
    padding: 2em;
    background-color: white;
}

article > header {
    border-bottom: thick double black;
}

article > h1 {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}



/* todo accessiblity? */
.anchor {
    color: initial;
    visibility: hidden;
    text-decoration: none;
    opacity: .5;
    /* todo too big */
    /* font-size: .5em; */
}

.anchor::before {
    content: '#';
}
.anchor:hover {
    opacity: 1;
}
*:hover > .anchor {
    visibility: visible;
}

