form {
	color: blue;
	font-family: impact;
}

input {
	background-color: #00FFFF;
	color: blue;
	font-family: impact;
}

body {
	background-color:#bbbbbb;
}

#head1{
	height: 40px;
	width: 1352px;
	background-color: blue;
	color: #bbbbbb;
	font-family: impact;
	font-size: 30px;
	color: black;
}
#head {
	font-size: 30px;
	font-family: impact;
	text-decoration: none;
	color: black;
}

#pagetitle {
	font-family: impact;
	color: black;
}