<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Page Title</title>
  </head>
  <body>
    <div id="navBar">
      <h1 id=""
      <h2 style="font-family: Cambria;">Types/Classes</h2>
      <a href="" class="link" id="navBarLink">Test</a><br />
      <a href="" class="link" id="navBarLink">Lorem Pisum</a><br />
      <a href="" class="link" id="navBarLink">Batman</a><br />
    </div>
  </body>
</html>