/*logo is for the Logo. The logo could also be an image*/
.logo {
  font-family: impact;
  font-size: 80px;
  color: #0101DF;
  height: 80px;
  width: 230px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
/*navBar is for the navigation bar below the logo*/
.navBar {
  height: 50px;
  width: 100%;
  color: #000000;
  background-color: #cecece;
  border-radius: 5px;
}
/*naveBarText and navBarLink is for the textt styling of the navigation bar.*/
.navBarText {
  font-family: arial;
  font-size: 35px;
  text-decoration: none;
  color: black;
}

.navBarLink {
  font-family: arial;
  font-size: 35px;
  text-decoration: none;
  color: black;
}
/*For when the user hovers over one the the navigation bar text.*/
.navBarLink:hover {
  font-family: arial;
  font-size: 35px;
  text-decoration: none;
  color: blue;
  font-style: bold;
}
/*title and content are for the content that goes on the page*/
.title {
  font-family: arial;
  color: black;
}

.content {
  font-family: calibri, arial;
  font-size: 20px;
}

/*.login is the class for all login related tags*/
.login {
  font-family: arial;
  color: black;
}
/*pagetitle is for the text that appears under the navigation bar*/
#pagetitle{
  font-family: arial;
  font-size: 35px;
}
/*The rest are for the login div in the top right corner*/
#loginDiv {
  margin-left:auto;
  height: 30px;
  width: 65px;
  background-color: #cecece;
  border-radius: 5px;
 }
 
 #loginLink {
  text-decoration: none;
  font-size: 23px;
  font-family: arial;
  color: black;
}

#loginLink:hover {
  color: blue;
}

#loggedInLink:hover {
  color: blue;
}
/*For the things on the projects page*/
.vers {
  height: 50px;
  width: 250px;
  color: black;
  background-color: gray;
  font-family: arial;
  border-radius: 10px;
  font-size: 30px;
  border: solid 2px black;
}
.vers:focus  {
  outline:0;
}
.vers:active {
  position: relative;
  top: 2px;
  left: 2px;
  border: solid 4px black;
}
.noDecor {
  text-decoration: none;
  color: black;
}
.noDecor:active {
  text-decoration: none;
  color: black;
}
.noDecor:visited {
  text-decoration: none;
  color: black;
}