:root {
    --background: #ffe6ff;
    --header: #ffb3ff;
    --highlight: #f0f;
}
body {
    background-color: var(--background);
    margin: 0;
    height: 100vh;
    background-image: url("background.png");
    display: flex;
    flex-direction: column;
}
header > a {
    color: black;
    text-decoration: none;
}
header {
    background-color: var(--header);
}
footer {
    margin-top: auto;
    margin-right: auto;
    background-color: var(--header);
}

