:root {
    --background: #ffe6ff;
    --header: #ffb3ff;
    --highlight: #f0f;
}
body {
    background-color: var(--background);
    margin: 0;
    height: 100vh;
    background-image: url("background.png");
    display: flex;
    flex-direction: column;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: black;
    text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: underline;
}
header {
    background-color: var(--header);
}
footer {
    margin-top: auto;
    margin-right: auto;
    background-color: var(--header);
}

.fragment > .fragmentAnchor {
    color: initial;
    visibility: hidden;
    text-decoration: none;
}
.fragment:hover > .fragmentAnchor {
    visibility: visible;
}