:root {
    --accent-background: black;
    --accent-lowlight: hsl(300, 100%, 25%);
    --accent: hsl(300, 100%, 40%);
    --accent-highlight: hsl(300, 100%, 75%);
    --accent-foreground: white;
        
    --neutral-background: white;
    --neutral-foreground: black;

    --primary-background: black;
    --primary: hsl(300, 100%, 50%);
    --primary-foreground: white;
}
body {
    margin: 0;
    margin-bottom: 2em;


    background-attachment: fixed;
    background-image: url("background.webp");
}


a:link {
    color: var(--accent)
}
a:visited {
    color: var(--accent-lowlight)
}

code {
    padding: 0.25em;
    background: #eee;
}

pre {
    padding: 1em;
    background: #eee;
    border-left: 2px solid var(--accent);
    overflow-x: auto;
}

pre > code {
    padding: unset;
}

h1 > a:link, h2 > a:link, h3 > a:link, h4 > a:link, h5 > a:link, h6 > a:link,
h1 > a:visited, h2 > a:visited, h3 > a:visited, h4 > a:visited, h5 > a:visited, h6 > a:visited {
    color: inherit;
    text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: underline;
}


.fragment > .fragmentAnchor {
    color: initial;
    visibility: hidden;
    text-decoration: none;
}
.fragment:hover > .fragmentAnchor {
    visibility: visible;
}




header {
    background-color: var(--primary);
    color: var(--primary-foreground);
    margin: 2em;
    padding: 1em;
}
footer {
    margin-top: auto;
    margin-right: auto;
    background-color: var(--primary);
}
nav {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
